* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  background: #0a2a43;
  min-height: 1500px;
  height: 100%;
  overflow-x: hidden;
 
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 100000;
}
section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 100000;
  mix-blend-mode: color;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000000000000000000;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.box-img {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.box-img img {
  position: relative;
  width: 30%;
  height: auto;
}
#text {
  position: relative;
  color: #e09f20;
  font-size: 6em;
  z-index: 1;
  text-align: center; /* Center the text */
}

#road {
  z-index: 2;
}
#start {
  border-radius: 8px;
  width: 150px;
  height: 60px;
  margin-top: 5%;
  padding: 5px;
  text-align: center;
  font-size: 1em;
  z-index: 2;
  background-color: #8a7456;
}

.parallax {
  perspective: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0;
}

.parallax-layer {
  position: absolute;
  top: 350px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}


.parallax-layer img {
  width: 100%;
  height: 30em;
  object-fit:cover;

}
#background {
  /*transform: translateZ(-2px) scale(1.2);*/
  transform: translateX(0) translateY(0) scale(1.2);
  transition: transform 0.1s ease; /* Add transition for smooth movement */
}

#foreground {
  transform: translateZ(0);
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.player-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 80%;
  padding: 5px;
}

.player-selection button {
  width: 15em;
  height: 10em;
  border-radius: 8px;
  background-color: #ffedcb;
  object-fit: fill;
}
.player-selection button img {
  width: 10em;
  height: 10em;
  object-fit: fill;
}
.animation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  padding: 8px;
}
.player-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 100%;
}

.player-side img {
  width: 40%;
  height: auto;
}
.player-side h3 {
  color: #ffedcb;
  font-size: 30px;
  border: solid;
  border-radius: 8px;
  padding: 8px;
  margin: 15px;
  width: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cpu-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 100%;
}

.cpu-side img {
  width: 40%;
  height: auto;
}
.cpu-side h3 {
  color: #ffedcb;
  font-size: 30px;
  border: solid;
  border-radius: 8px;
  padding: 8px;
  margin: 15px;
  width: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#cpu-rock,
#player-rock {
  display: none;
  width: 30%;
  height: auto;
}

#cpu-paper,
#player-paper {
  display: none;
  width: 25%;
  height: auto;
}

#player-scissors,
#cpu-scissors {
  display: none;
  width: 25%;
  height: auto;
}

.score_player,
.score_cpu {
  border: solid;
  color: white;
}
.score {
  width: 20%;
  height: auto;
  color: white;
  border: solid;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2%;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  word-wrap: none;
}
.continue_game {
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.continue {
  width: 100%;
  height: 50px;
  border: solid;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #7e2316;
  font-size: 20px;
}

.gameInfo {
  width: 80%;
  height: 100px;
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #4e8397;
  font-size: 22px;

  margin: 10px;
}

.textInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.roundCounter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.gameStatus {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 22px;
  color: bisque;
  font-style: italic;
}



@media screen and (max-width: 1100px) {
  .player-selection {
    width: 90%;
  }

  .player-selection button {
    width: 25%;
  }
  .player-selection button img {
    width: 8em;
    height: 8em;
  }
  .animation {
    width: 90%;
    height: auto;
  }
  .score {
    font-size: 100%;
  }
}
